#image-carosel-1{
    width: 400px;
}
#image-carosel-2{
    width: 200px;
}
#image-carosel-3{
    width: 200px;
}
#image-carosel-4{
    width: 200px;
}
#image-main{
    padding-left: 100px;
    padding-right: 100px;
}
#overview-image-1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px
}